@model List<Cubo>

<section class="features2 cid-sgSyF0EE4Z" id="features2-d">
	<div class="container">
		<h1 class="mbr-section-title mbr-fonts-style mb-0 mbr-bold display-5">Carrito compra</h1>
		@if (Context.Session.GetString("IDSCUBOS") == null)
		{
			<h2 style="color:red">
				No hay cubos en el carrito
			</h2>
		}
		<br />

		@if (Model != null)
		{
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Imagen</th>
						<th>Id cubo</th>
						<th>Nombre</th>
						<th>Modelo</th>
						<th>Marca</th>
						<th>Cantidad</th>
						<th>Precio</th>
						<th>Eliminar</th>

					</tr>
				</thead>
				<tbody>
					@foreach (var c in Model)
					{
						<tr>
							<td>
								<img src="@Url.Content("~/images/" + c.Imagen)"
									 onerror="this.onerror=null;this.src='https://static.vecteezy.com/system/resources/previews/005/720/408/non_2x/crossed-image-icon-picture-not-available-delete-picture-symbol-free-vector.jpg';"
									 alt="Imagen del producto"
									 title="@c.Nombre" style="width:150px; height:150px;">
							</td>
							<td>@c.IdCubo</td>
							<td>@c.Nombre</td>
							<td>@c.Modelo</td>
							<td>@c.Marca</td>
							<td>
								<input type="number" class="form-control" min="1" max="100" value="1" />
							</td>
							<td>@c.Precio €</td>
							<td>
								<a asp-controller="Cubos" asp-action="CarritoCompra" asp-route-idEliminar="@c.IdCubo" class="btn btn-form btn-bgr btn-info display-4">
									Eliminar
								</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		}

	</div>
</section>
